  <footer class="site__footer" role="contentinfo">
    <div class="wrap isle--v">
      <div class="grid o--p--s">
        <section class="grid__col--2-of-6 p-author vcard">
          <img alt='Portrait of Daniel Eden' src='/static/images/face.jpeg' class='footer__avatar hidden-v--m' height='90' width='90' />
          <h3>About</h3>
          <p>My name is <span class="fn">Daniel Eden</span>. I&rsquo;m a designer from Manchester, <span class="caps">UK</span> currently living and working in San Francisco.</p>
        </section>

        <section class="grid__col--2-of-6">
          <h3>Colophon</h3>
          <p>Designed, developed, and maintained by <a href="/about">Daniel Eden</a>. Hosted by <a title="RamNode" href="https://clientarea.ramnode.com/aff.php?aff=088">RamNode</a>. Set in H<span class="caps">oefler</span> &amp; C<span class="caps">o</span>&rsquo;s Mercury and Whitney. Check the&nbsp;<a href="/styleguide">style guide</a>. View <a href="https://bitbucket.org/daneden/daneden.me">the source</a>.</p>
        </section>

        <section class="grid__col--2-of-6">
          <h3>Points of Interest</h3>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/quotes">Quotes</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
          </ul>
        </section>
      </div>
    </div>
  </footer>

  {% include scripts.html %}

</body>
</html>
