{% if site.env == 'production' %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43231078-2', 'daneden.me');
  ga('send', 'pageview');

</script>
{% endif %}

<script>
  // Picture element HTML5 shiv
  document.createElement( "picture" );
</script>

{% bundle_glob %}
- /_assets/js/picturefill.min.js
{% endbundle_glob %}
