/*-----------------------------------*\

  Module: Header

\*-----------------------------------*/

.site__header {
  color: $gray;
}

  .site__title {
    text-decoration: none;
    margin-bottom: 0;

    .title__sep {
      color: $highlight;
      vertical-align: -.05em;
    }

    .title__desc {
      color: $light-gray;
    }
  }

  .site__nav {

  }
