@charset "UTF-8";


/*-----------------------------------*\

  Root: style.scss

  Imports all required SCSS files.

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Variables

  Includes global variables for
  colors and unit sizes

\*-----------------------------------*/

/*-----------------------------------*\

  Module: Base

  Anything that can’t be abstracted
  or assigned to another section.
  Low-level stuff. Typically only body
  and html styles.

\*-----------------------------------*/

::-moz-selection {
  background-color: rgba(195, 195, 195, 0.5);
}

::selection {
  background-color: rgba(195, 195, 195, 0.5);
}

html {
  font: 112.5%/1.55556 "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  color: #525252;
  background-color: #fff;
}

@media (max-width: 47.5em) {
  html {
    font-size: 87.5%;
  }
}

body {
  overflow-x: hidden;
}

/*-----------------------------------*\

  Partials: All

  Includes all partials

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Mixins

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Reset

  Blanket reset. For something less
  volatile, I’d recommend Eric
  Meyer’s reset.

\*-----------------------------------*/

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}

/*-----------------------------------*\

  Partial: Helpers

  Helper classes. Layout helpers,
  clearfix, element hiding

\*-----------------------------------*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

p,
.o--p,
[class*="o--p--"],
figure,
blockquote,
table,
form,
ul,
ol,
.img,
pre,
.mega,
.ultra {
  display: block;
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
}

p:empty,
.o--p:empty,
[class*="o--p--"]:empty,
figure:empty,
blockquote:empty,
table:empty,
form:empty,
ul:empty,
ol:empty,
.img:empty,
pre:empty,
.mega:empty,
.ultra:empty {
  display: none;
}

.o--p--dm {
  margin-bottom: 44px;
  margin-bottom: 3.11111rem;
}

.o--p--hm {
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.o--p--nm {
  margin-bottom: -22px;
  margin-bottom: -1.55556rem;
}

.o--b {
  display: block;
}

.o--i {
  display: inline-block;
}

.o--p--xxl {
  font-size: 21px;
  font-size: 1.5rem;
  line-height: 1.142857143;
}

.o--p--xl {
  font-size: 17px;
  font-size: 1.230769231rem;
  line-height: 1.375;
}

.o--p--l {
  font-size: 16px;
  font-size: 1.142857143rem;
  line-height: 1.5;
}

.o--p--s {
  font-size: 12px;
  font-size: .823529412rem;
  line-height: 1.5;
}

.o--p--xs {
  font-size: 11px;
  font-size: .75rem;
  line-height: 1.142857143;
}

.f--l,
.f--r {
  z-index: 1;
}

.f--l {
  float: left;
}

.f--r {
  float: right;
}

.standalone {
  margin-bottom: 0 !important;
}

.hidden-v {
  visibility: none;
  position: absolute;
  left: -99999px;
  height: 1px;
}

@media (max-width: 47.5em) {
  .hidden-v--m,
  .hidden-r--m {
    visibility: hidden;
    position: absolute !important;
    left: -99999px !important;
    height: 1px !important;
  }
}

@media screen and (max-width: 47.5em) {
  .hidden-r--m {
    display: none;
  }
}

/*-----------------------------------*\

  Partial: Layout

  Layout helpers

\*-----------------------------------*/

.wrap {
  max-width: 798px;
  max-width: 57rem;
  padding-left: 22px;
  padding-left: 1.55556rem;
  padding-right: 22px;
  padding-right: 1.55556rem;
  margin: 0 auto;
}

@media (max-width: 56em) {
  .wrap {
    max-width: 504px;
    max-width: 36rem;
  }
}

@media (max-width: 47.5em) {
  .wrap {
    max-width: 476px;
    max-width: 34rem;
    padding-left: 11px;
    padding-left: 0.77778rem;
    padding-right: 11px;
    padding-right: 0.77778rem;
  }
}

.island {
  padding: 22px;
  padding: 1.55556rem;
}

.island--v {
  padding-top: 22px;
  padding-top: 1.55556rem;
  padding-bottom: 22px;
  padding-bottom: 1.55556rem;
}

.island--h {
  padding-left: 22px;
  padding-left: 1.55556rem;
  padding-right: 22px;
  padding-right: 1.55556rem;
}

.isle,
table td,
table th {
  padding: 11px;
  padding: 0.77778rem;
}

.isle--v {
  padding-top: 11px;
  padding-top: 0.77778rem;
  padding-bottom: 11px;
  padding-bottom: 0.77778rem;
}

.isle--h {
  padding-left: 11px;
  padding-left: 0.77778rem;
  padding-right: 11px;
  padding-right: 0.77778rem;
}

.spit {
  padding: 5px;
  padding: 0.38889rem;
}

.spit--v {
  padding-top: 5px;
  padding-top: 0.38889rem;
  padding-bottom: 5px;
  padding-bottom: 0.38889rem;
}

.spit--h {
  padding-left: 5px;
  padding-left: 0.38889rem;
  padding-right: 5px;
  padding-right: 0.38889rem;
}

.span-all,
.grid .grid__col--span-all,
.grid > .span-all,
.grid .grid__col--2-of-2,
.grid .grid__col--3-of-3,
.grid .grid__col--4-of-4,
.grid .grid__col--5-of-5 {
  width: 100%;
}

/*-----------------------------------*\

  Grid classes

  Usage:
  <div class="grid">
    <div class="grid__col--1-of-2">
      Blah
    </div>

    <div class="grid__col--1-of-2">
      Blop
    </div>
  </div>

\*-----------------------------------*/

.grid {
  width: 104.5%;
  width: -webkit-calc(100% + 22px );
  width: -webkit-calc(100% + 1.55556rem );
  width: calc(100% + 22px );
  width: calc(100% + 1.55556rem );
  margin-left: -22px;
  margin-left: -1.55556rem;
  /*=================================*/
  /*=================================*/
  /*=================================*/
  /*=================================*/
  /*=================================*/
  /*=================================*/
  /*=================================*/
  /*=================================*/
  /*=================================*/
}

.grid .grid__col--1-of-2,
.grid .grid__col--2-of-4,
.grid .grid__col--3-of-6 {
  width: 50%;
}

.grid .grid__col--span-all,
.grid > .span-all,
.grid .grid__col--2-of-2,
.grid .grid__col--3-of-3,
.grid .grid__col--4-of-4,
.grid .grid__col--5-of-5 {
  width: 95.5%;
  width: -webkit-calc(100% - 22px );
  width: -webkit-calc(100% - 1.55556rem );
  width: calc(100% - 22px );
  width: calc(100% - 1.55556rem );
  padding-left: 0 !important;
  margin-left: 22px;
  margin-left: 1.55556rem;
}

.grid .grid__col--1-of-3,
.grid .grid__col--2-of-6 {
  width: 33.33333%;
}

.grid .grid__col--2-of-3,
.grid .grid__col--4-of-6 {
  width: 66.66667%;
}

.grid .grid__col--1-of-4 {
  width: 25%;
}

.grid .grid__col--3-of-4 {
  width: 75%;
}

.grid .grid__col--1-of-5 {
  width: 20%;
}

.grid .grid__col--2-of-5 {
  width: 40%;
}

.grid .grid__col--3-of-5 {
  width: 60%;
}

.grid .grid__col--4-of-5 {
  width: 80%;
}

.grid .grid__col--1-of-6 {
  width: 16.66667%;
}

.grid .grid__col--5-of-6 {
  width: 83.33333%;
}

.grid > *,
.grid > [class*="grid__col--"] {
  display: inline-block;
  vertical-align: top;
  margin-right: -.24em;
  padding-left: 22px;
  padding-left: 1.55556rem;
  min-height: 1px;
}

.grid .grid__col--d-first {
  float: left;
}

.grid .grid__col--d-last {
  float: right;
}

.grid.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid.grid--no-gutter > * {
  padding-left: 0;
}

.grid.grid--no-gutter .grid__col--span-all,
.grid.grid--no-gutter > .span-all {
  margin-left: 0;
  width: 100%;
}

.grid .grid__col--push-1-of-6 {
  margin-left: 16.66667%;
}

.grid .grid__col--pull-1-of-4,
.grid .alignleft {
  margin-left: -webkit-calc(-25% - 22px );
  margin-left: -webkit-calc(-25% - 1.55556rem );
  margin-left: calc(-25% - 22px );
  margin-left: calc(-25% - 1.55556rem );
}

@media screen and (max-width: 47.5em) {
  .grid .grid__col--pull-1-of-4,
  .grid .alignleft {
    margin-left: 0;
    width: auto;
  }
}

.grid .grid__col--pull-1-of-4--right,
.grid .alignright {
  margin-right: -webkit-calc(-25% - 22px );
  margin-right: -webkit-calc(-25% - 1.55556rem );
  margin-right: calc(-25% - 22px );
  margin-right: calc(-25% - 1.55556rem );
}

@media screen and (max-width: 47.5em) {
  .grid .grid__col--pull-1-of-4--right,
  .grid .alignright {
    margin-right: 0;
    width: auto;
  }
}

@media screen and (max-width: 56em) {
  .grid {
    margin-left: 0;
    width: auto;
  }

  .grid > *,
  .grid > [class*="grid__col--"] {
    display: block;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    float: none;
  }

  .grid .span-all,
  .grid .grid__col--span-all {
    width: auto;
    margin-left: 0;
  }
}

.grid .grid__col--centered {
  display: block;
  margin: 0 auto;
}

.grid .grid__col--align-bottom {
  vertical-align: bottom;
}

/*-----------------------------------*\

  Partial: Objects

  Abstracted things and common
  patterns go here. Not to be
  confused with helpers.

\*-----------------------------------*/

.nav,
.nav ul {
  padding-left: 0;
  z-index: 1;
  list-style: none;
}

.nav .nav--sub,
.nav ul .nav--sub {
  padding-left: 1.5em;
  margin-bottom: 0;
}

.nav .active,
.nav ul .active {
  font-weight: 700;
  color: #454545;
}

.nav--inline {
  margin-bottom: 0;
}

.nav--inline li,
.nav--inline li > a {
  display: inline-block;
}

.nav--inline li {
  margin-left: 1em;
}

.img {
  display: block;
}

.img.img--centered {
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------*\

  Partial: Typography

  Low-level type things. Headings,
  links, blockquotes, etc.

\*-----------------------------------*/

h1,
.alpha {
  margin-bottom: 44px;
  margin-bottom: 3.11111rem;
  font-family: "Chronicle Display A", "Chronicle Display B", "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  font-size: 44px;
  font-size: 3.11111rem;
  font-weight: 900;
  line-height: 1;
  orphans: 3;
  widows: 3;
  color: #454545;
}

@media (max-width: 47.5em) {
  h1,
  .alpha {
    margin-bottom: 22px;
    margin-bottom: 1.55556rem;
    font-size: 26px;
    font-size: 1.86667rem;
  }
}

h1 .caps,
.alpha .caps {
  font-family: "Chronicle Display A", "Chronicle Display B", "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  letter-spacing: 0;
}

h2,
.beta,
.quotes article ul li {
  padding-top: 11px;
  padding-top: 0.77778rem;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
  font-size: 19px;
  font-size: 1.384615385rem;
  font-weight: 400;
  line-height: 1.2223;
  orphans: 3;
  widows: 3;
}

h3,
.gamma,
.quotes article ul li > .caps {
  padding-top: 11px;
  padding-top: 0.77778rem;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
  font-size: 14px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.55556;
}

h4,
.delta {
  font-size: 14px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.55556;
}

.mega {
  font-weight: 200;
  font-size: 30px;
  font-size: 2.153846154rem;
  line-height: 1.178571429;
}

.promo {
  text-align: center;
}

.subhead,
.meta,
figcaption,
.quotes article ul li > .caps {
  color: #888888;
}

a,
[data-href] {
  text-decoration: underline;
  color: inherit;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

a:hover,
[data-href]:hover {
  color: #c64f52;
}

.a--plain {
  text-decoration: none;
}

.caps,
h3,
.gamma,
.quotes article ul li > .caps {
  font-family: "Mercury SSm SC A", "Mercury SSm SC B", "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: .04em;
}

strong,
.strong {
  font-weight: 700;
}

em,
.em {
  font-style: italic;
}

hr {
  border: none;
  border-bottom: 2px solid gainsboro;
  width: 84px;
  width: 6rem;
  padding-top: 33px;
  padding-top: 2.33333rem;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 44px;
  margin-bottom: 3.11111rem;
  margin-left: auto;
}

.hr--line {
  margin-top: -1px;
  height: 1px;
  background-image: none;
  background-color: #c3c3c3;
}

ul,
ol {
  padding-left: 1.35em;
  overflow: hidden;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dl dt {
  font-weight: 700;
}

dl dd {
  padding-left: 18px;
  padding-left: 1.3rem;
}

mark {
  color: #c64f52;
  background: none;
}

blockquote {
  overflow: hidden;
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
  padding-left: 22px;
  padding-left: 1.55556rem;
  border-left: 2px solid #c64f52;
  margin-left: -22px;
  margin-left: -1.55556rem;
  color: #525252;
}

blockquote > :last-child {
  margin-bottom: 0;
}

@media (max-width: 47.5em) {
  blockquote {
    margin-left: 0;
  }
}

blockquote .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
}

blockquote em {
  font-style: normal;
}

/*-----------------------------------*\

  Partial: Images

\*-----------------------------------*/

figcaption {
  font-family: "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
  font-size: 9px;
  font-size: .666666667rem;
  line-height: 1.555555833;
  text-align: right;
}

figcaption .caps {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Whitney SSm A", "Whitney SSm B", Geneva, Verdana, san-serif;
}

@media (max-width: 56em) {
  figcaption {
    text-align: left;
  }
}

@media (max-width: 47.5em) {
  figcaption {
    font-size: 12px;
    font-size: .857142857rem;
  }
}

figure {
  padding-top: 11px;
  padding-top: 0.77778rem;
}

figure img {
  max-width: 100% !important;
  display: block;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

@media (max-width: 47.5em) {
  figure img {
    max-width: none;
    width: -webkit-calc(100% + 22px );
    width: -webkit-calc(100% + 1.55556rem );
    width: calc(100% + 22px );
    width: calc(100% + 1.55556rem );
    margin-left: -11px;
    margin-left: -0.77778rem;
    margin-right: -11px;
    margin-right: -0.77778rem;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto 21px;
  margin: 0 auto 1.5rem;
}

.alignleft,
.alignright {
  clear: both;
  padding-top: 0;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.alignleft img,
.alignright img {
  max-width: 100%;
  width: auto;
  margin: auto;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
}

.alignleft figcaption,
.alignright figcaption {
  text-align: left;
}

.alignleft {
  float: left;
  margin-right: 22px;
  margin-right: 1.55556rem;
  padding-left: 22px;
  padding-left: 1.55556rem;
}

.alignright {
  float: right;
  margin-left: 22px;
  margin-left: 1.55556rem;
  padding-right: 22px;
  padding-right: 1.55556rem;
}

@media (max-width: 75em) {
  .alignleft {
    margin-left: -13.5%;
  }

  .alignright {
    margin-right: -13.5%;
  }
}

@media (max-width: 47.5em) {
  .alignleft,
  .alignright {
    float: none;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 22px;
    margin-bottom: 1.55556rem;
    padding: 0;
  }
}

/*-----------------------------------*\

  Partial: Tables

  Table styles

\*-----------------------------------*/

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  text-align: left;
  border-radius: .25em;
  border: 1px solid gainsboro;
}

table tr {
  display: table-row;
}

table tbody,
table thead,
table tr {
  border-collapse: collapse;
}

table td,
table th {
  width: auto;
  vertical-align: top;
  display: table-cell;
  line-height: 1.5;
  white-space: nowrap;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  border-collapse: collapse;
}

table td:first-child,
table th:first-child {
  border-radius: .25em .25em 0 0;
  border-left: 1px solid gainsboro;
}

table td:last-child,
table th:last-child {
  border-radius: 0 0 .25em .25em;
  border-right: 1px solid gainsboro;
}

table.table--striped tr:nth-child(even) {
  background-color: #ebebeb;
}

/*-----------------------------------*\

  Partial: Forms

  Form elements – Buttons, inputs,
  and the like.

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Animations

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: Debug

  DEVELOPMENT ONLY
  ================

  Debugging helper classes for layout,
  etc.

\*-----------------------------------*/

.debug--outline * {
  outline: 1px dotted rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.debug--outline *:hover {
  outline-color: red;
}

.debug--grid body {
  position: relative;
}

.debug--grid body:after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(http://basehold.it/image.php?height=28) repeat top left;
}

.debug--grid body:active:after {
  display: none;
}

/*-----------------------------------*\

  Module: All

  Includes all Modules

\*-----------------------------------*/

/*-----------------------------------*\

  Module: Code

  Code highlighting colors

\*-----------------------------------*/

.highlight,
code,
pre {
  font-family: "Source Code Pro", Monaco, monospace;
}

.highlight {
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  margin-left: -21px;
  margin-left: -1.5rem;
  padding: 11px 21px;
  padding: .75rem 1.5rem;
  overflow: scroll;
  background-color: #454545;
  color: #888888;
}

.highlight * {
  display: initial;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color: #656763;
}

.highlight .err {
  color: #babdb6;
}

.highlight .g {
  color: #babdb6;
}

.highlight .k {
  color: #729fcf;
}

.highlight .l {
  color: #babdb6;
}

.highlight .n {
  color: #babdb6;
}

.highlight .o {
  color: #babdb6;
}

.highlight .x {
  color: #babdb6;
}

.highlight .p {
  color: #babdb6;
}

.highlight .cm {
  color: #656763;
}

.highlight .cp {
  color: #fcaf3e;
}

.highlight .c1 {
  color: #656763;
}

.highlight .cs {
  color: #656763;
}

.highlight .gd {
  color: #2e3436;
  background-color: #0e1416;
}

.highlight .ge {
  color: #babdb6;
}

.highlight .gr {
  color: #eeeeec;
  background-color: #cc0000;
}

.highlight .gh {
  color: #fcaf3e;
}

.highlight .gi {
  color: #babdb6;
  background-color: #1f2b2d;
}

.highlight .go {
  color: #2c3032;
  background-color: #2c3032;
}

.highlight .gp {
  color: #babdb6;
}

.highlight .gs {
  color: #babdb6;
}

.highlight .gu {
  color: #fcaf3e;
}

.highlight .gt {
  color: #babdb6;
}

.highlight .kc {
  color: #729fcf;
}

.highlight .kd {
  color: #729fcf;
}

.highlight .kn {
  color: #729fcf;
}

.highlight .kp {
  color: #729fcf;
}

.highlight .kr {
  color: #729fcf;
}

.highlight .kt {
  color: #e3e7df;
}

.highlight .ld {
  color: #babdb6;
}

.highlight .m {
  color: #8ae234;
}

.highlight .s {
  color: #babdb6;
}

.highlight .na {
  color: #fcaf3e;
}

.highlight .nb {
  color: #babdb6;
}

.highlight .nc {
  color: #babdb6;
}

.highlight .no {
  color: #8ae234;
}

.highlight .nd {
  color: #babdb6;
}

.highlight .ni {
  color: #888a85;
}

.highlight .ne {
  color: #babdb6;
}

.highlight .nf {
  color: #fcaf3e;
}

.highlight .nl {
  color: #babdb6;
}

.highlight .nn {
  color: #babdb6;
}

.highlight .nx {
  color: #babdb6;
}

.highlight .py {
  color: #babdb6;
}

.highlight .nt {
  color: #729fcf;
}

.highlight .nv {
  color: #ffffff;
}

.highlight .ow {
  color: #babdb6;
}

.highlight .w {
  color: #babdb6;
}

.highlight .mf {
  color: #8ae234;
}

.highlight .mh {
  color: #8ae234;
}

.highlight .mi {
  color: #8ae234;
}

.highlight .mo {
  color: #8ae234;
}

.highlight .sb {
  color: #babdb6;
}

.highlight .sc {
  color: #babdb6;
}

.highlight .sd {
  color: #babdb6;
}

.highlight .s2 {
  color: #babdb6;
}

.highlight .se {
  color: #babdb6;
}

.highlight .sh {
  color: #babdb6;
}

.highlight .si {
  color: #babdb6;
}

.highlight .sx {
  color: #babdb6;
}

.highlight .sr {
  color: #babdb6;
}

.highlight .s1 {
  color: #babdb6;
}

.highlight .ss {
  color: #babdb6;
}

.highlight .bp {
  color: #babdb6;
}

.highlight .vc {
  color: #ffffff;
}

.highlight .vg {
  color: #ffffff;
}

.highlight .vi {
  color: #ffffff;
}

.highlight .il {
  color: #8ae234;
}

/*-----------------------------------*\

  Module: Header

\*-----------------------------------*/

.site__header {
  color: #525252;
}

.site__title {
  text-decoration: none;
  margin-bottom: 0;
}

.site__title .title__sep {
  color: #c64f52;
  vertical-align: -.05em;
}

.site__title .title__desc {
  color: #888888;
}

/*-----------------------------------*\

  Module: Content

  <body [class="page"]>
    ...
    <main class="site__content">
      {{ content }}
    </main>
    ...
  </body>

\*-----------------------------------*/

.site__content {
  padding-top: 22px;
  padding-top: 1.55556rem;
  padding-bottom: 65px;
  padding-bottom: 4.66667rem;
}

@media screen and (max-width: 47.5em) {
  .site__content {
    padding-top: 0;
  }
}

.entry__header {
  padding-bottom: 11px;
  padding-bottom: 0.77778rem;
}

.grid__col--demo div {
  min-height: 44px;
  min-height: 3.11111rem;
  margin-bottom: 22px;
  margin-bottom: 1.55556rem;
  background-color: gainsboro;
}

@media screen and (max-width: 56em) {
  .grid__col--demo {
    display: none !important;
  }
}

.quotes article ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.quotes article ul li {
  padding: 44px 0;
  padding: 3.11111rem 0;
}

.quotes article ul li > .caps {
  display: block;
}

.quotes article ul li > .caps:before {
  content: "";
  display: block;
  width: 28px;
  width: 2rem;
  padding-top: 11px;
  padding-top: 0.77778rem;
  border-bottom: 2px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
  margin-bottom: 11px;
  margin-bottom: 0.77778rem;
  color: #c64f52;
}

/*-----------------------------------*\

  Module: Footer

\*-----------------------------------*/

.site__footer {
  background-color: #3f3f3f;
  color: #b3b3b3;
}

.footer__avatar {
  width: 26px;
  width: 1.86667rem;
  height: 26px;
  height: 1.86667rem;
  position: absolute;
  top: 9px;
  top: 0.62222rem;
  left: 0;
  margin-left: -22px;
  margin-left: -1.55556rem;
  border-radius: 100%;
}

@media (max-width: 56em) {
  .footer__avatar {
    display: none;
  }
}

/*===================================*\

  Sass Authoring Rules
  --------------------

  Some basic guidelines (that may be broken) for authoring manageable, readable Sass styles:

  .block {
    // 1. Layout Properties
    // display, width, padding, margin, vertical-align, box-sizing, etc.
    // Note: Bracketed expression values — such as calc() or linear-gradient() — must have spaces [e.g. calc( 100% + 2rem )] for Grunt tasks to run properly

    // 2. Typography Properties
    // font[-size, -weight, etc], line-height, text-align, letter-spacing, white-space, etc.

    // 3. Appearance Properties
    // color, box-shadow, background, border, text-shadow, opacity, etc.

    // 4. UI Properties
    // appearance, cursor, pointer-events, etc.

    // Child elements are not always (and shouldn't be) nested in the parent block
    .block__child {

      // Modifiers are almost always nested in their parent element
      &.block__child--modifier {

      }

      &:after {
        // `content` counts as a layout property
      }

    }
  }

  Full Example:

  .block {
    width: 100%;

    font-size: 1rem;
    font-weight: 400;

    color: $highlight;

    .block__child {
      display: inline-block;

      &.block__child--modifier {
        color: $gray;
      }

      &:after {
        content: '';
        padding: 1.5rem;

        cursor: pointer;
      }
    }
  }

  If you want to pick a fight over/learn more about these rules, let me know – dan.eden@me.com

\*===================================*/