/*-----------------------------------*\

  Partial: Typography

  Low-level type things. Headings,
  links, blockquotes, etc.

\*-----------------------------------*/

h1, .alpha, %alpha {
  margin-bottom: $baseline*2;

  font-family: $font-Display;
  font-size: $baseline*2;
  font-weight: 900;
  line-height: 1;
  orphans: 3;
  widows: 3;

  color: $dark-gray;

  @media (max-width: $breakpoint-small) {
    margin-bottom: $baseline;

    font-size: $baseline*1.2;
  }

  .caps {
    font-family: $font-Display;
    letter-spacing: 0;
  }
}

h2, .beta, %beta {
  padding-top: $baseline/2;
  margin-bottom: $baseline/2;

  font-size: 1.384615385rem;
  font-weight: 400;
  line-height: 1.2223;
  orphans: 3;
  widows: 3;
}

h3, .gamma, %gamma {
  padding-top: $baseline/2;
  margin-bottom: $baseline/2;

  @extend %caps;
  font-size: 1rem;
  font-weight: 400;
  line-height: $baseline-unitless;
}

h4, .delta, %delta {
  font-size: 1rem;
  font-weight: 700;
  line-height: $baseline-unitless;
}

.mega {
  font-weight: 200;
  font-size: 2.153846154rem;
  line-height: 1.178571429;
}

.promo {
  text-align: center;
}

.subhead, .meta {
  color: $light-gray;
}

a, [data-href] {
  text-decoration: underline;

  color: inherit;
  transition: .2s;

  cursor: pointer;

  &:hover {
    color: $highlight;
  }
}

.a--plain {
  text-decoration: none;
}

.caps, %caps {
  font-family: $font-Serif-SC;
  text-transform: uppercase;
  letter-spacing: .04em;
}

strong, .strong {
  font-weight: 700;
}

em, .em {
  font-style: italic;
}

hr {
  border: none;
  border-bottom: 2px solid $subtle-gray;
  width: 6rem;
  padding-top: $baseline*1.5;
  margin: {
    top: -2px;
    right: auto;
    bottom: $baseline*2;
    left: auto;
  }
}

.hr--line {
  margin-top: -1px;
  height: 1px;

  background-image: none;
  background-color: $lighter-gray;
}

// Remove this for hanging bullets
ul, ol {
  padding-left: 1.35em;
  overflow: hidden;
}

  // Restore some normality to our nested lists
  li > ul, li > ol {
    margin-bottom: 0;
  }

dl {
  dt {
    font-weight: 700;
  }

  dd {
    padding-left: 1.3rem;
  }
}

mark {
  color: $highlight;
  background: none;
}

blockquote {
  overflow: hidden;
  font-family: $font-Sans;
  padding-left: $baseline;
  border-left: 2px solid $highlight;
  margin-left: -$baseline;
  color: $gray;

  > :last-child {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-small) {
    margin-left: 0;
  }

  .caps {
    font-family: $font-Sans-SC;
  }

  em {
    font-style: normal;
  }
}
